body {
  background-color: lightsalmon; 
  font-family: 'Arial', Helvetica, sans-serif;
}
nav {
  background-color: midnightblue;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}
#brand {
  float: left;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-family: 'Arial', Helvetica, sans-serif;
}
.nav-link:hover {
  color: lightsalmon;
  font-weight: bold;
}
#brand .nav-link {
  color: white;
  font-size: 14pt;
}
#brand .nav-link:hover {
  color: lightsalmon;
}
h1 {
  font-size: 40pt;
  font-family: 'Arial', Helvetica, sans-serif;
}
#home {
  margin-top: 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 70vh;
  padding-top: 3em;
  background: url('https://images.pexels.com/photos/159496/fish-aquarium-school-of-fish-under-water-159496.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center 75% no-repeat fixed; 
  background-size: cover;
}
.header-tag {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.h3 header-tag {
  margin-top: -50px;
  font-size: 18pt;
}
h2 {
  font-family: 'Arial', Helvetica, sans-serif;
  color: midnightblue;
}
.main {
  text-align: center;
}
#about {
  margin-top: 80px;
  display: inline-block;
}
#about-picture {
  width: 40vw;
  float: left;
}
#profile-pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 0.4em;
  box-shadow: 2px 2px 2px black;
}
#about-content {
  width: 40vw;
  float: right;
}